header, section, footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

header {
	height: 100px;
	background-color: #119c90;
	margin-bottom: 10px /*espacio entre la cabecera y el inicio*/
}

#logo{
	width: 250px;
	height: 100px;
	background-color: #e5ffcd;
	float: left;
}

#botonera {
	width: 500px;
	height: 100px;
	background-color: #7e822f;
	float: left;
}



#portada {
	height: 600px;
	width: 960px;
	background-color: #7491a3;
	float: left;
	margin-bottom: 10px;

}



#foto {
	width: 450px;
	height: 580px;
	background-color: #00ffd0;
	float: left;
	margin-bottom: 10px;
}

#txt_arriba {
	width: 450px;
	height: 200px;
	background-color: #e2b5eB;
	float: right;
	margin-bottom: 10px;
}

#txt_abajo {
	width: 480px;
	height: 366px;
	background-color: #e2b5eB;
	float: right;
	margin-bottom: 10px;
}

#serv_titulo {
	height: 50px;
	width: 960px;
	background-color: #bBe6c4;
	/*float: left;*/
	margin-bottom: 10px;
}

#icono1 {
    width: 315px;
    height: 100px;
    background-color: #00ffd0;
    float: left;
    margin-bottom: 10px;

}

#icono2 {
    width: 315px;
    height: 100px;
    background-color: #61617a;
    float: left;
    margin-left: 10px; 
    margin-bottom: 10px;
}


#icono3 {
	width: 315px;
	height: 100px;
	background-color: #aBa7c7;
	float: right;
	margin-bottom: 10px;

}


#box1 {
	width: 315px;
	height: 328px;
	background-color: #e2b5eB;
	float: left;
	margin-bottom: 10px;

}


#box2 {
	width: 315px;
	height: 328px;
	background-color: #fc1cB3;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;

}


#box3 {
	width: 315px;
	height: 328px;
	background-color: #aBa7c7;
	float: right;
	margin-bottom: 10px;

}


#inicio {
	height: 600px;
	background-color: #00edd9;

}


#acercade{
	height: 500px;
	background-color: #ff9705;

}


#servicios{
	height: 500px;
	background-color: #ffe605;

}


#curriculum {
	height: 800px;
	background-color: #32e0c4;
}

#contacto{
	height: 700px;
	background-color: #efbbcf;
}


footer {
	height: 130px;
	background-color:#efbbcf;
	margin-top: 10px;
}


